@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}

<form>
    @if (ViewBag.AvailableRoomTypes?.Count > 0)
    {
        <br />
        <h2 style="color:mediumslateblue;">Results</h2>

        <table class="table">
            <thead>
                <tr>
                    <th>Room Type</th>
                    <th>Price</th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                @foreach (var room in ViewBag.AvailableRoomTypes)
                {
                    <tr>
                        <td>
                            <strong>@room.Title</strong>
                            @room.Description
                        </td>
                        <td>@String.Format("{0:C}", room.Price)</td>
@*                        <td>
                            <a asp-page="\BookRoom" asp-route-RoomTypeId="@room.Id"
                               asp-route-StartDate="@ViewBag.StartDate"
                               asp-route-EndDate="@ViewBag.EndDate">Book Now</a>
                        </td>*@
                    </tr>
                }
            </tbody>
        </table>
    }
</form>